@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

/* Global Setting */

*, :before, ::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  color: var(--Grayish-blue);
}

/* Background */

#background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--Light-gray);
}

/* Card */

#card {
  max-width: 320px;
  padding: 1.5rem;
  background-color: var(--White);
  border-radius: 1rem;
}

/* qr-code section */

#qr-image {
  width: 100%;
  border-radius: 1rem;
}

/* text section */

#text-content {
  margin: 2rem;
}

#text-content > p {
  margin: 1rem;
}
